@font-face {
    font-family: "Aeonik";
    src: url(fonts/AeonikTRIAL-Bold.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url(fonts/Helvetica.ttf);
    font-style: normal;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 30px;
}

.lightBlue {
    background: #ACC1FF;
}

.lightRed {
    background: #FFAEAE;
}

.blue {
    background: #587FE1;

}

.even {
    background: #F8F8F8;
}

header {
    background-color: #242424;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 1728px;
        }
    }
}


main {
    padding-top: 0.8%;
    background-color: #F6F6F6;

    .container {
        background-color: #FFFFFF;
        margin: 0 auto;
        max-width: 1478px;
        padding-bottom: 5%;

        .cover {
            margin: 0 auto;
            max-width: 1408px;
        }
    }
}

.dataInformation {
    margin-top: 3%;

    h1 {
        font-size: 1rem;
        font-family: 'Aeonik';
        color: #101828;
        margin-bottom: 0.5%;
    }

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.54rem;
        color: #5F6469;
    }
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    margin-top: 2.5%;
    margin-left: 0.8%;
    max-width: 1377px;
    margin-bottom: 2%;

    a {
        button {
            cursor: pointer;
            background-color: transparent;
            padding: 4% 0;
            height: 100%;
            width: 100%;
            border: 1px solid #5F6469;
            transform: matrix(1, 0, -0.5, 0.87, 0, 0);
        }

        p {
            transform: matrix(1, 0, 0.5, 1, 0, 0);
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 0.54rem;
            line-height: 115%;
        }

        .buttonOne {
            background: #D8D816;
            border: none;
        }
    }
}

.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    font-size: 0.54rem;

    &:not(:first-child) {
        margin-top: 1%;
    }
}

.graph {
    &__info {
        margin-top: 2%;
        display: flex;

        &__left {
            display: flex;
            flex-direction: column;
        }

        .graph {
            position: relative;

            .burger {
                position: absolute;
                top: 2%;
                left: 59%;
                width: 29%;
                height: 87%;
                background: #ffffff;
                box-shadow: 0px 4px 25px rgba(158, 158, 158, 0.16);
                display: flex;
                flex-direction: column;
                align-items: center;


                h4 {
                    text-align: center;
                    font-size: 0.46rem;
                    font-family: 'Helvetica';
                    font-style: normal;
                    padding-bottom: 10%;
                    padding-top: 10%;
                }

                ul {
                    list-style-type: none;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 167%;
                    font-size: 0.4rem;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        img {
                            margin-left: -1.2%;
                            margin-right: 4%;
                            width: 8px;
                            height: 8px;
                        }

                        &:not(:last-child) {
                            padding-bottom: 3.5%;
                        }
                    }
                }
            }
        }

        .indicators {
            margin-top: 2%;
            align-self: center;
            width: 89%;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            line-height: 167%;
            font-size: 0.4rem;
            display: flex;
            flex-direction: column;

            // display: grid;
            // grid-template-columns: repeat(7, 10%);


            ul {
                list-style-type: none;
                display: flex;
                justify-content: space-between;
            }

            .secondLine {
                align-self: start;
                margin-top: 3.5%;

                li {
                    &:not(:first-child) {
                        margin-left: 10%;
                    }
                }
            }

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            img {
                margin-right: 11%;
                width: 8px;
                height: 8px;
            }
        }

        &__right {
            margin-top: -2%;
            width: 100%;
            margin-left: 3.5%;

            .title {
                margin-left: 4%;
                width: 72%;
                display: flex;
                justify-content: space-between;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 0.4rem;
                color: #434C5F;
                margin-bottom: 2%;
            }

            .table {
                border-left: #DFDFDF 1px solid;
                border-top: #DFDFDF 1px solid;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                color: #434C5F;
                line-height: 143%;
                font-size: 0.46rem;
                display: grid;
                grid-template-rows: repeat(13, 1fr);
                grid-template-columns: 38.63% 20.4% 20.4% 20.4%;

                &__element {
                    border-bottom: #DFDFDF 1px solid;
                    border-right: #DFDFDF 1px solid;
                }

                .bigSpan {
                    grid-column: 2/5;
                }

                .dataKey {
                    padding: 6.45% 20% 6.45% 10%;
                }

                .lightBlue {
                    background: #ACC1FF;
                    color: #FFFFFF;
                    border: none;
                }

                .lightRed {
                    background: #FFAEAE;
                    color: #FFFFFF;
                    border: none;
                }

                .blue {
                    background: #587FE1;
                    color: #FFFFFF;
                    border: none;

                }

                .border {
                    border-bottom: #DFDFDF 1px solid;
                }

                .dataValue {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
            }
        }

    }
}

.mpi {
    max-width: 50.8%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 0.5%;

    h2 {
        font-family: 'Aeonik';
        font-style: normal;
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 158%;
        color: #101828;
    }
}

.graph__bottom {
    margin-top: 3.2%;
    margin-left: -0.7%;
    margin-right: 0.4%;

    .table {
        border-left: #DFDFDF 1px solid;
        border-bottom: #DFDFDF 1px solid;

        display: grid;
        grid-template-columns: 28.45% 8.95% 8.95% 8.95% 8.95% 8.95% 8.95% 8.95% 8.95%;
        grid-template-rows: repeat(8, 1fr);

        .dataKey {
            grid-column: 1/2;
            padding: 3.9% 20% 3.9% 5%;
        }

        .dataValue {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dataValue1 {
            font-weight: 600;
            grid-column: 2/ span 2;
            border-bottom: 7px #587FE1 solid;
            color: #587FE1;
        }

        .dataValue2 {
            border-bottom: 7px #ACC1FF solid;
            color: #ACC1FF;
            font-weight: 600;
            grid-column: 4 / span 2;
        }

        .dataValue3 {
            border-bottom: 7px #FFAEAE solid;
            color: #FFAEAE;
            font-weight: 600;
            grid-column: 6 / span 2;
        }

        .dataValue4 {
            border-bottom: 7px #EB5757 solid;
            color: #EB5757;
            font-weight: 600;
            grid-column: 8 / span 2;
        }

        .even {
            background: #F8F8F8;
        }

        &__element {
            border-right: #DFDFDF 1px solid;
            border-top: #DFDFDF 1px solid;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 0.46rem;
            line-height: 143%;
            color: #434C5F;
        }
    }
}