@font-face {
    font-family: "Aeonik";
    src: url(fonts/AeonikTRIAL-Bold.otf);
    font-style: normal;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 30px;
}

header {
    background-color: #242424;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 1728px;
        }
    }
}


main {
    padding-top: 0.8%;
    background-color: #F6F6F6;

    .container {
        background-color: #FFFFFF;
        margin: 0 auto;
        max-width: 1478px;

        .cover {
            margin: 0 auto;
            max-width: 1408px;
        }
    }
}

.dataInformation {
    margin-top: 3%;

    h1 {
        font-size: 1rem;
        font-family: 'Aeonik';
        color: #101828;
        margin-bottom: 0.5%;
    }

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.54rem;
        color: #5F6469;
    }
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    margin-top: 2.5%;
    margin-left: 0.8%;
    max-width: 1377px;
    margin-bottom: 2%;

    a {
        button {
            padding: 4% 0;
            height: 100%;
            width: 100%;
            border: 1px solid #5F6469;
            transform: matrix(1, 0, -0.5, 0.87, 0, 0);
        }

        p {
            transform: matrix(1, 0, 0.5, 1, 0, 0);
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 0.54rem;
            line-height: 115%;
        }

        .buttonOne {
            background: #D8D816;
        }
    }
}

.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    font-size: 0.54rem;

    &:not(:first-child) {
        margin-top: 1%;
    }
}

.graph {
    &__info {
        margin-top: 2%;
        display: flex;
    }
}

.mpi {
    max-width: 50.8%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 0.5%;

    h2 {
        font-family: 'Aeonik';
        font-style: normal;
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 158%;
        color: #101828;
    }
}